#matrix {
    background-color: #181818;
    border-style: solid;
    border-color: rgba(80, 80, 255, 0.1);
    border-width: 3;
    margin: auto;
    width: 80%;
}

.size {
    //border-width: 1px;
    //border-style: solid;
    //border-color: whitesmoke;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/16);
    height: max-content;
    overflow: hidden;
}

.block {
    font-family: "Source Code Pro", "monospace";
    width: 100%;
    height: max-content;
    font-size: 2.5em;
    line-height: 0.8em;
    word-spacing: 0px;
    letter-spacing: 0em;
    color: rgb(40, 40, 40);
    transition: color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    border-style: solid;
    border-color: rgb(80, 80, 255);
    border-width: 3;
    width: max-content;
    margin: auto;
}

@media screen and (max-width: 850px) {
    .block {
        font-size: 2em;
    }
}