:root {
    --primary-color: #0000ff;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
html,
body {
    font-size: 16px;
}

body {
    background: #181818;
    margin: 0;
    font-family: sans-serif;
    color: white;
    a {
        color: #fff;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

// New Navbar
.toggle-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}

.nav-container {
    margin: auto;
    max-width: 1500px;
    top: 0;
    position: sticky;
    z-index: 2000;
}

.navbar {
    .logo {
        margin: 0.5rem;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        span {
            color: var(--primary-color);
        }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #202020;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style: none;
        a {
            color: white;
            padding: 1rem;
            display: block;
        }
    }
}

.navbar-links li {
    list-style: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style: none;
        a {
            color: white;
            padding: 1rem;
            display: block;
        }
    }
}

.navbar-links li:hover {
    background-color: #555;
}

// Main content
.grid {
    background-color: black;
    padding: 0;
    margin: 0;
    margin: auto;
    display: grid;
    overflow: hidden;
    max-width: 1500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "title title""carousel carousel""about-heading about-heading""tag-line about-image""about-list about-image""download-heading download-heading""android ios""contact-heading contact-heading""contact-content contact-content""footer footer";
    .title-heading {
        grid-area: title;
    }
    .carousel-container {
        grid-area: carousel;
    }
    .about-heading {
        grid-area: about-heading;
    }
    .about-tag-line {
        grid-area: tag-line;
    }
    .list {
        grid-area: about-list;
    }
    .animated-image-about {
        grid-area: about-image;
    }
    .contact-heading {
        grid-area: contact-heading;
    }
    .contact-content {
        grid-area: contact-content;
    }
    .download-heading {
        grid-area: download=heading;
    }
    .android {
        grid-area: android;
    }
    .ios {
        grid-area: ios;
    }
    .footer {
        grid-area: footer;
    }
}

.container-div {
    margin: auto;
    position: relative;
}

// Title section
.heading-div {
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    text-align: center;
    font-size: 4em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 3rem;
    .title-text {
        //text-shadow: 4px 4px var(--primary-color);
        z-index: 2;
        span {
            color: var(--primary-color);
            //text-shadow: 4px 4px white;
        }
    }
}

// Carousel
.slider-container {
    max-width: 1500px;
    height: 650px;
    .crop {
        position: absolute;
        max-width: 275px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: max-width 1s ease-in-out, left 1s ease-in-out; //, z-index 0.25s; //, z-index 0.45s;
    }
}

.background-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    filter: blur(6px);
    max-width: 1500px;
    height: auto;
    position: absolute;
    line-height: 1.7em;
    color: var(--primary-color);
    font-family: 'Source Code Pro';
    font-style: normal;
    span {
        color: white;
    }
}

// About section
.about-heading,
.contact-heading,
.download-heading {
    height: auto;
    display: flex;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 8rem;
    padding-top: 3rem;
    align-items: center;
    .about-text,
    .contact-text,
    .download-text {
        width: 100%;
        font-size: 5rem;
        color: white;
        text-shadow: 3px 3px var(--primary-color);
    }
}

.about-tag-line {
    //background-color: limegreen;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 0;
    font-size: 2.5em;
    color: lightslategrey;
    span {
        color: yellow;
    }
    span:hover {
        color: white;
    }
}

.contact-content {
    color: lightslategrey;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 0;
    font-size: 2.5em;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#ID {
    color: lightslategrey;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    text-decoration: none;
    font-size: 3em;
}

.android,
.ios {
    margin: auto;
    margin-top: 1rem;
    width: 60%;
    padding-top: 60%;
    position: relative;
    background-color: rgb(20, 20, 20);
    box-shadow: 5px 5px rgb(40, 40, 40);
    cursor: pointer;
    border-radius: 25px;
    display: block;
}

.ios {
    cursor: not-allowed;
}

.ios:hover,
.android:hover {
    background-color: yellow;
}

.croppng {
    position: absolute;
    top: 15%;
    right: 16%;
    height: 70%;
    width: 62%;
    margin: auto;
    overflow: hidden;
}

.iosImg {
    cursor: not-allowed;
    height: 100%;
    position: absolute;
    right: -135%;
}

.androidImg {
    height: 100%;
    position: absolute;
    right: 6%;
}

//.ios {
//    margin: auto;
//    width: 80%;
//    background: mediumseagreen;
//    overflow: hidden;
//}
.footer {
    font-size: 1.2em;
    text-align: center;
    margin: 2em;
}

@media screen and (max-width: 900px) {
    .heading-div {
        font-size: 2em;
        height: 5em;
    }
    .about-heading,
    .contact-heading,
    .download-heading {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 4rem;
        .about-text,
        .contact-text,
        .download-text {
            font-size: 3.5rem;
        }
    }
    .about-tag-line {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        font-size: 2em;
    }
    .contact-content {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        display: none;
    }
    .navbar-links {
        width: 100%;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        li {
            text-align: center;
            a {
                padding: 0.5rem 1rem;
            }
        }
    }
    .heading-div {
        font-size: 1.5em;
        height: 8em;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        grid-template-areas: "title title""carousel carousel""about-heading about-heading""tag-line tag-line""about-list about-list""about-image about-image""download-heading download-heading""android ios""contact-heading contact-heading""contact-content contact-content""footer footer";
        .title-heading {
            grid-area: title;
        }
        .carousel-container {
            grid-area: carousel;
        }
        .about-heading {
            grid-area: about-heading;
        }
        .about-tag-line {
            grid-area: tag-line;
        }
        .list {
            grid-area: about-list;
        }
        .animated-image-about {
            grid-area: about-image;
        }
        .contact-heading {
            grid-area: contact-heading;
        }
        .contact-content {
            grid-area: contact-content;
        }
        .download-heading {
            grid-area: download-heading;
        }
        .android {
            grid-area: android;
        }
        .ios {
            grid-area: ios;
        }
        .footer {
            grid-area: footer;
        }
    }
    .about-heading,
    .contact-heading,
    .download-heading {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 3rem;
        .about-text,
        .contact-text,
        .download-text {
            font-size: 3rem;
        }
    }
    .about-tag-line {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        font-size: 1.5em;
    }
    .contact-content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        font-size: 1.5em;
    }
    #ID {
        font-size: 1.5em;
    }
}