:root {
    --primary-color: #0000ff;
}

* {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 16px;
    height: 100vh;
}

body {
    background: #181818;
    margin: 0;
    font-family: sans-serif;
    color: white;
    a {
        color: #fff;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

//navbar
.navbar {
    top: 0;
    background: #202020;
    //padding: 1em;
    margin: auto;
    max-width: 1500px;
    position: sticky;
    z-index: 2000;
    .logo {
        margin: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        span {
            color: var(--primary-color);
        }
    }
    nav {
        display: none;
    }
    .container {
        display: flex;
        place-content: space-between;
        align-items: center;
        img {
            margin: 1rem;
            width: 2em;
            //height: 2em;
        }
    }
    .mobile-menu {
        cursor: pointer;
    }
}

.grid {
    background-color: black;
    padding: 0;
    margin: 0;
    margin: auto;
    display: grid;
    overflow: hidden;
    max-width: 1500px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "title""carousel""about-heading""about-content""contact-heading""contact-content""footer";
    .title-heading {
        grid-area: title;
    }
    .carousel-container {
        grid-area: carousel;
    }
    .about-heading {
        grid-area: about-heading;
    }
    .about-content {
        grid-area: about-content;
    }
    .contact-heading {
        grid-area: contact-heading;
    }
    .contact-content {
        grid-area: contact-content;
    }
    .footer {
        grid-area: footer;
    }
}

.container-div {
    margin: auto;
    position: relative;
}

// Title section
.heading-div {
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    text-align: center;
    font-size: 4em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .title-text {
        //text-shadow: 4px 4px var(--primary-color);
        z-index: 2;
        span {
            color: var(--primary-color);
            //text-shadow: 4px 4px white;
        }
    }
}

// Carousel
.slider-container {
    max-width: 1500px;
    height: 650px;
    .crop {
        position: absolute;
        max-width: 275px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: max-width 1s ease-in-out, left 1s ease-in-out; //, z-index 0.25s; //, z-index 0.45s;
    }
}

.background-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    filter: blur(7px);
    max-width: 1500px;
    height: auto;
    position: absolute;
    line-height: 2em;
    color: var(--primary-color);
}

// About section
.about-heading,
.contact-heading {
    height: 6rem;
    display: flex;
    align-items: center;
    margin-top: 5em;
}

.about-text,
.contact-text {
    margin: 1rem;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px var(--primary-color);
}

.about-content,
.contact-content {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin: 0 1rem 0 1rem;
}

@media screen and (max-width: 900px) {
    .heading-div {
        font-size: 2em;
        height: 3em;
    }
}

@media screen and (max-width: 545px) {
    .heading-div {
        font-size: 1.5em;
        height: 6em;
    }
}