:root {
  --primary-color: #007af3;
}

* {
  scroll-behavior: smooth;
}

body {
  background: #000;
  margin: 0;
  overflow-y: scroll;
  font-family: sans-serif;
  color: white;
}

body a {
  color: #f0f0f0;
}

body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  margin: auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: #121512;
  max-width: 1300px;
}

.navbar {
  top: 0;
  max-width: 1300px;
  background: #202020;
  padding: 1em;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2000;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container img {
  height: 1.2em;
  width: 1.2em;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
  max-width: 1300px;
  place-content: space-between;
  margin: auto;
}

.hero .top-section .hero__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 2em;
}

.hero .top-section .hero__heading {
  font-size: 5em;
  color: #fff;
}

.hero .top-section .hero__heading span {
  color: var(--primary-color);
}

.hero .top-section .hero__description {
  font-size: 60px;
}

@media only screen and (max-width: 500px) {
  .hero .top-section .hero__heading {
    font-size: 3em;
  }
}

@media only screen and (max-width: 300px) {
  .hero .top-section .hero__heading {
    font-size: 2em;
  }
}

.hero .bottom-section {
  max-width: 1300px;
  height: 600px;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin: 2em 0em;
}

.hero .bottom-section .background-text {
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .bottom-section .background-text h1 {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background-color: rgba(150, 150, 255, 0.1);
  letter-spacing: 0px;
  line-height: 60px;
  color: #007af350;
  font-size: 60px;
  font-family: "Source Code Pro", monospace;
}

.hero .bottom-section .background-text h1 span {
  color: white;
}

.hero .bottom-section #carousel-container {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vh;
  max-width: 1300px;
  overflow: hidden;
  position: relative;
}

.hero .bottom-section .image-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .bottom-section .image-1 {
  left: 20%;
  z-index: 500;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.hero .bottom-section .image-1 .crop {
  width: 275px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .bottom-section .image-2 {
  left: 50%;
  z-index: 999;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.hero .bottom-section .image-2 .crop {
  width: 385px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .bottom-section .image-3 {
  left: 80%;
  z-index: 500;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.hero .bottom-section .image-3 .crop {
  width: 275px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 400px) {
  .hero .bottom-section {
    margin: -2em 0em;
  }
  .hero .bottom-section .left-image .image {
    width: 225px;
  }
  .hero .bottom-section .center-image .image {
    width: 300px;
  }
  .hero .bottom-section .right-image .image {
    width: 225px;
  }
}

.about {
  height: 800px;
  background-color: lightseagreen;
  max-width: 1300px;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */